:root {
  --red: #e10600;
  --white: #ffffff;
  --dark: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: var(--white);
  color: var(--dark);
}

section {
  padding: 100px 8%;
}

button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.red-btn {
  background: var(--red);
  color: white;
}

h1 span {
  color: var(--red);
}

/* horizontal scroll */
.horizontal {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.horizontal::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 250px;
  padding: 30px;
  background: white;
  border: 2px solid var(--red);
  scroll-snap-align: start;
}
